.Header-bg {
    height: 550px;
    background-image: url("../assets/img/astronomy-astrophotography-colors-755726.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.Header-bg h1 {
    color: #fff;
    font-size: 4.5em;
    margin: 20px 0;
}

.Header-bg h2 {
    color: #fff;
    font-size: 1em;
    font-weight: 200;
    margin: 0;
}