.List{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.List h3 {
    font-size: 2em;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    padding: 0;
}

.List li {
    font-size: 25px;
    list-style: none;
    font-weight: 200;
    padding: 0;
}

.List li i {
    padding-right: 10px;
    font-size: 30px;
    color: #ffff4d;
}
