.Img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 50px;
}

.Img{
    height: 340px;
    width: 240px;
    border: 1px solid #b2988b;
    background-image: url("../assets/img/37335628_1827571790611763_4270573939048054784_o.jpg");
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}