.gallery-container{
    height: 600px;
    margin: 0;
    padding: 0;
}

/* .img-in-gallery-cont{
    height: 500px;
    width: 800px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
} */

/* .img-in-gallery{
    
} */