.gallery{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#return-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 80px;
    height: 80px;
    display: block;
    text-decoration: none;
    border-radius: 50px;
    display: none;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 25px;
    top: 20px;
    font-size: 32px;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
